@model IEnumerable<WordCounterMVC.Models.WordCount>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!--<meta charset="utf-8" />-->
    <title></title>
</head>
<body>
    @foreach (var item in Model)
   {
       <p>@item.Word @item.Count @item.Percent </p> 
   }
</body>